.sortmar{
    max-width: 1440px;
    min-height: 348px;
}
.serpech{
    max-width: 1280px;
    padding: 24px;

}
.img-fluid{
    max-width: 1275.954px;
    height: 312px;
}


 .blog{
    display: flex;
    width: 1280px;
    gap: 50px;
    padding: 30px 70px;
    height: 441px;
    margin-left: 115px;
    margin-top: 50px;
    background: var(--lavender, #F4F0F8);
    .our{
        width: 516px;
        height: 109px;
        margin-top: 20px;

    }
    .ou2r{
        width: 516px;
        height: 109px;
        margin-top: 20px;

    }
 }
